<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideapro.blank.repository.UserRepository">

    <sql id="BaseSql">
        id, username, password, telephone, email, sign
    </sql>

    <!-- 保存 -->
    <insert id="insert" parameterType="com.ideapro.blank.model.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username, password, telephone, email, sign)
        VALUES(#{username}, #{password}, #{telephone}, #{email}, #{sign})
    </insert>

    <select id="query" parameterType="com.ideapro.blank.model.entity.UserEntity" resultType="com.ideapro.blank.model.entity.UserEntity">
        SELECT
          id,
          username,
          password,
          telephone,
          email,
          sign
        FROM
          user
        WHERE 1=1
        <if test="username != null and username != ''">
            and username=#{username}
        </if>
        <if test="password != null and password != ''">
            and password=#{password}
        </if>
        <if test="telephone != null and telephone != ''">
            and telephone=#{telephone}
        </if>
        <if test="email != null and email != ''">
            and email=#{email}
        </if>
        <if test="sign != null and sign != ''">
            and sign=#{sign}
        </if>
    </select>

</mapper>